body {
    font-family: 'Open Sans';
}

button {
    background-color: #426f67;
    font-family: 'Open Sans';
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.buttonBorder {
    border: 2px #426f67 solid;
    background-color: transparent;
    color: #426f67;
    font-weight: 700;
}